<div class="comments container border-top">
    {{#each this}}
    <section class="comment border-top">
        <div class="meta">
            <h6>{{user.username}} on {{format_date created_at}} says:</h6>
        </div>
        <div class="text">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>