    <!-- Intro -->
    <div class="form-group">
      <p id="welcome"> Welcome to the <strong>Tech Blog!</strong> Login and blog. </p>
    </div>
    <!-- Email input -->
    <div class="form-group">
      <label class="form-label" for="form1Example1">Email address</label>
      <input type="email" id="form1Example1" placeholder="Enter Email" class="form-control email-login" />
    </div>
    <!-- Password input -->
    <div class="form-group">
      <label class="form-label" for="form1Example2">Password</label>
      <input type="password" id="form1Example2" placeholder="Enter Password" class="form-control password-login" />
    </div>
 
    <div class="form-group">
      <!-- Submit button -->
      <button id="loginbtn" type="submit" class="btn btn-dark btn-block mt-4 p-2">Log in</button>
    </div>

    <!-- need to sign up -->
    <div class="container d-flex justify-content-center">
      <strong>
        <a class="" id="sign-up" href="/signup">I need to sign up.</a></strong>
    </div>
</form>

<script src="/javascript/login.js"></script>